<!DOCTYPE html>

{% load static %}

{% block title %}Initial Setup - ICpEPHUB{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/access.css' %}"> 
{% endblock %}

{% block content %}
<div class="wrapper">
    <form method="post">
        {% csrf_token %}
        
        <h1>Create Admin Account</h1>
        <p class="subtitle">Set up your initial administrator account</p>
        
        {% for field in form %}
        <div class="input-box">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="invalid-feedback d-block">
                {{ field.errors.0 }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        
        <button type="submit" class="btn">Create Admin Account</button>
    </form>
</div>
{% endblock %}
